version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: ota_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  its-backend:
    build: .
    container_name: backend
    restart: always
    env_file:
      - .env
    ports:
      - "4000:4000"  
      - "5000:5000"  
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
